$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

@mixin laptop {
  @media (width <= $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (width <= $mobile) {
    @content;
  }
}
